.title {
    cursor: pointer;
}

#routes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 9999;
    width: 100%;
    .leftnav {
        flex-grow: 1;
    }
}

.spacer {
    padding-right: 1rem
}