@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";
/* You can add global styles to this file, and also import other style files */
html { background-color: #090909;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


#bg{
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; 

    .stretch {
        width:100%;
        height:100%;
    }
    .form-box{
        width: 100%;
        height: 100%;
        background: #838383;
    }
    opacity: 0.2;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
  }



