
h1{
    font-size: 72px;
    font-family: "Times New Roman";
    text-align: center;
    color: white; 
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}